.circle::before{
    content: "";
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    filter: blur(35px);
    background: rgb(104, 7, 85);
    background: radial-gradient(circle, rgb(104, 7, 85) 23% , rgb(74, 17, 63) 52%, rgb(62, 18, 59) 44%);
    top: -146px;
    left: -22px;
    z-index: -1;
}